<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test_ultrapager">


    <application android:label="@string/app_name">
        <activity
            android:name=".UPVDemoActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="fullSensor"
            android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.tmall.ultraviewpager" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PagerActivity"
            android:theme="@android:style/Theme.Holo.Light" />
    </application>

</manifest>